.header__container {
  max-width: 1062px;
  padding: 0 15px;
  margin: 0 auto; }
.header__row ul {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px; }
  .header__row ul li:not(:first-child) {
    margin-left: 33px; }

.home {
  padding-top: 140px; }
  .home__container {
    max-width: 886px;
    padding: 0 15px;
    margin: 0 auto; }
  .home__row {
    display: flex; }
  .home__text {
    margin-right: 106px; }
  .home__text-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px; }
  .home__title-subtitle {
    margin-bottom: 38px; }
  .home__title-download {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    width: 208px;
    padding: 10px 20px;
    background: #FF6464;
    border-radius: 2px;
    margin-bottom: 71px; }
  .home__picture {
    position: relative; }
  .home__picture-under-photo {
    position: absolute;
    left: -5px;
    top: 13px;
    z-index: -1; }

@media (max-width: 656px) {
  .home {
    padding-top: 33px; }
    .home__row {
      flex-direction: column-reverse;
      flex-wrap: wrap; }
    .home__text {
      margin: 0; }
    .home__text-title {
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 21px; }
    .home__title-subtitle {
      text-align: center;
      margin-bottom: 27px; }
    .home__title-download {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      margin-bottom: 58px; }
    .home__picture {
      margin: 0 auto;
      margin-bottom: 34px; } }
.posts__background {
  background: #EDF7FA;
  padding: 7px 0 32px 0; }
.posts__recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px; }
.posts__recent-post {
  font-size: 22px;
  line-height: 60px; }
.posts__recent-link {
  color: #00A8CC; }

.card {
  display: flex;
  justify-content: space-between; }

.post__card {
  width: 418px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 24px 22px; }
.post__card-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 17px; }
.post__card-text {
  display: flex;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px; }
.post__card-text-vector::after {
  content: "";
  position: absolute;
  height: 21px;
  border: 1px solid #000000;
  margin-left: 30px; }
.post__card-text-design {
  margin-left: 60px; }

@media (max-width: 890px) {
  .card {
    justify-content: space-around; }

  .post__card {
    width: 354px; }
  .post__card-title {
    font-size: 22px;
    line-height: 30px; }
  .post__card-text {
    font-size: 16px;
    line-height: 24px; } }
@media (max-width: 782px) {
  .posts__recent {
    justify-content: space-around; }

  .card {
    flex-wrap: wrap; }

  .post:first-child {
    margin-bottom: 17px; }
  .post__card {
    width: 500px; } }
@media (max-width: 656px) {
  .posts__recent-link {
    display: none; }

  .card {
    flex-wrap: wrap; }

  .post__card {
    width: 354px; } }
.works__featured {
  font-size: 22px;
  line-height: 60px;
  margin: 15px 0 22px 0; }

.featured__cards {
  padding-bottom: 83px; }
.featured__card-picture-info {
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0; }
.featured__card-picture {
  margin-right: 18px; }
.featured__card-info-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px; }
.featured__card-info-details {
  display: flex;
  align-items: center; }
.featured__card-info-details-date {
  position: relative;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0 26px 0 8px; }
  .featured__card-info-details-date:after {
    content: "";
    position: absolute;
    width: 62px;
    height: 25px;
    top: 17px;
    left: -9px;
    background: #142850;
    border-radius: 16px;
    z-index: -10; }
.featured__card-info-details-program {
  font-size: 20px;
  line-height: 29px;
  color: #8695A4; }

@media (max-width: 782px) {
  .featured__card-picture-info {
    flex-wrap: wrap; }
  .featured__card-picture {
    position: relative;
    display: block;
    min-height: 180px;
    min-width: 100%;
    overflow: hidden;
    padding: 0 0 50% 0;
    margin-bottom: 17px; }
    .featured__card-picture img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; } }
@media (max-width: 656px) {
  .featured__card-info-title {
    font-size: 24px;
    line-height: 30px; }
  .featured__card-info-details-date {
    font-size: 16px; }
  .featured__card-info-details-program {
    font-size: 16px;
    line-height: 24px; } }
.footer {
  text-align: center; }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 51px; }
  .footer__copy {
    margin-bottom: 54px; }

.social-item {
  font-size: 30px;
  color: #21243D;
  margin-bottom: 26px; }
  .social-item:not(:last-child) {
    margin-right: 35px; }

@media (max-width: 782px) {
  .footer__social {
    margin-top: 25px; } }

/*# sourceMappingURL=main.css.map */
