.header {

	&__active {
		color: #FF6464;
	}
	
	&__container {
		max-width: 1062px;
		padding: 0 15px;
		margin: 0 auto;

		display: flex;
		justify-content: end;
	}

	&__row ul {
		display: flex;
		justify-content: flex-end;

		font-weight: 500;
		font-size: 20px;
		line-height: 29px;

		margin-top: 27px;

		li:not(:first-child) {
			margin-left: 33px;
		}

		a:hover {
			color: #FF6464;
		}

	}
}