.posts {

	&__background {
		background: #EDF7FA;

		padding: 7px 0 32px 0;
	}

	&__recent {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 2px;
	}

	&__recent-post {
		font-size: 22px;
		line-height: 60px;
	}

	&__recent-link {
		color: #00A8CC;

		a:hover {
			color: #FF6464;
			font-weight: 500;
		}
	}
}

.card {
	display: flex;
	justify-content: space-between;
}
.post {

	transition: 0.3s ease-in;
	
	&:hover {
		transform: scale(1.05);
	}

	&__card {
		width: 418px;

		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
		border-radius: 4px;

		padding: 24px 22px;
	}

	&__card-title {
		font-weight: 700;
		font-size: 26px;
		line-height: 38px;

		margin-bottom: 17px;
	}

	&__card-text {
		display: flex;

		position: relative;

		font-size: 18px;
		line-height: 26px;

		margin-bottom: 11px;
	}

	&__card-text-vector::after {
		content: "";
		position: absolute;
		height: 21px;
		border: 1px solid #000000;

		margin-left: 30px;
	}

	&__card-text-design {
		margin-left: 60px;
	}
}

@media (max-width: 890px) {

	.card {
		justify-content: space-around;
	}

	.post {

		&__card {
			width: 354px;
		}

		&__card-title {
			font-size: 22px;
			line-height: 30px;
		}

		&__card-text {
			font-size: 16px;
			line-height: 24px;
		}
	}
}
@media (max-width: 782px) {
	.posts {

		&__recent {
			justify-content: space-around;
		}
	}

	.card {
		flex-wrap: wrap;
	}

	.post {

		&:first-child {
			margin-bottom: 17px;
		}

		&__card {
			width: 500px;
		}
	}
}
@media (max-width: 656px) {
	.posts {
	
		&__recent-link {
			display: none;
		}
	}
	
	.card {
		flex-wrap: wrap;
	}
	
	.post {
	
		&__card {
		width: 354px;
		}
	}
}